<div class="smartphone" *ngIf="!service.isProgress">
  <div class="content">
    <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:share:7062430392032657408" height="70%" width="100%" frameborder="0" allowfullscreen="" title="Embedded post">
    </iframe>
    <div class="row">
      <form class="example-form">
        <mat-form-field appearance=outline style="width: 100%; height: 120px;">
          <input name="comment" matInput placeholder="Add a comment..." [(ngModel)]="comments" (ngModelChange)="commentChanging()">
        </mat-form-field>
        <button *ngIf="comments" mat-raised-button color="primary" style="border-radius: 20px; margin-top: -10px;" (click)="onComment()">post</button>
      </form>
    </div>
  </div>
</div>

<!-- <div class="row" *ngIf="isCommentAdded" style="margin-top: 20px;">
  <div class="col-md-6 offset-md-3">
    <mat-progress-bar id="social-watcher" #socialwatcher mode="indeterminate" value="100"></mat-progress-bar>
    <mat-hint *ngIf="!findComment">Social watcher finding the comment</mat-hint>
    <mat-hint *ngIf="findComment">Comment found: {{ comments }}</mat-hint>
  </div>
</div>

<div class="row" *ngIf="findComment" style="margin-top: 20px;">
  <div class="col-md-6 offset-md-3">
    <mat-progress-bar id="sentiment-analysis" #sentimentanalysis mode="indeterminate" value="100" [ngClass]="{'positive-comment': sentiment == 'Positive', 'negative-comment': sentiment == 'Negative'}"></mat-progress-bar>
    <mat-hint *ngIf="!sentiment">Analyzing the sentiment</mat-hint>
    <mat-hint *ngIf="sentiment">{{ sentiment }} sentiment</mat-hint>
  </div>
</div>

<div class="row" *ngIf="sentiment === 'Negative'" style="margin-top: 20px;">
  <div class="col-md-6 offset-md-3">
    <mat-progress-bar id="ticket-creation" #ticketcreation mode="indeterminate" value="100" [ngClass]="{'available': ticketText == 'available', 'unavailable': ticketText == 'unavailable' }"></mat-progress-bar>
    <mat-hint *ngIf="!ticketText">Checking for ticket</mat-hint>
    <mat-hint *ngIf="ticketText">{{ ticketText == 'available' ? 'Ticket already available. Increasing priority...' : ticketText == 'created' ? 'Ticket created successfully. Please find the ticket ID: ' : ticketText == 'updated'? 'Ticket priority increased. Please find the ticket ID: ' : 'Ticket not found. Initializing ticket creation...' }}</mat-hint>
    <mat-hint *ngIf="ticketText == 'created' || ticketText == 'updated'"><a href="https://genesysjira.atlassian.net/browse/DES-{{ticketID}}" target="_blank">#{{ticketID}}</a></mat-hint>
  </div>
</div> -->

<div *ngIf="service.isProgress">
  <router-outlet></router-outlet>
</div>
